.check-ip-wrapper {
  margin: 50px auto;
  width: 80%;
  text-align: center;
  direction: rtl;
}

#check-ip {
  border: none;
  padding: 15px 35px;
  font-weight: bold;
  font-size: large;
  background-color: lime;
  opacity: 0.6;
  cursor: pointer;
}

#check-ip:hover {
  opacity: 1;
}

.check-ip-wrapper table {
  border-collapse: collapse;
  display: inline-block;
}
.check-ip-wrapper table tr td,
.check-ip-wrapper table tr th {
  border: 1px solid #000;
  padding: 5px;
}

.ds-none {
  display: none !important;
}
